html{
    font-size: 16px;
}

body{
    font-family: 'Raleway', sans-serif;
    background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}

#nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#nav li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: dodgerblue;
}

li{
    color: dodgerblue;
}

li h3{
    color: black;
}

#content {
    background-color: rgba(255,255,255,0.8);
    width: 70%;
    min-width: 300px;
    margin: auto;
    border: solid 10px  rgba(255,255,255,0.9);
}

#hotest {
    width:50%;
    min-width: 300px;    
    margin: 0 auto;
    background-color: rgba(255,255,255,0.9);
}

h6 {
    text-align: right;
}

.thumb_ups{
    text-align: left;
    display: inline;
    color: dodgerblue;
}

h2 {
    border-bottom: groove dodgerblue;
    font-weight: bold;    
}

#hotestPost {
    margin:auto;
    text-align: center;
    background-color: rgba(255,255,255,0.9);
    width: 40%;
}