html{
    font-size: 16px;
  }
  
body {
    font-family: 'Raleway', sans-serif;
    background-image: url("https://images.unsplash.com/photo-1523612192437-66de9804ac3c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=59310f54610ead00fcc3d07732d5d473&auto=format&fit=crop&w=1950&q=80");
    background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}

  #nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  #nav li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: dodgerblue;
  }

  #new_post{
    background-color: rgba(255,255,255,0.5);
    width:50%;
  }