html{
    font-size: 16px;
}

body {
    font-family: 'Raleway', sans-serif;
    background-image: url("images/bg5.jpg");
    background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}

#nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#nav li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: dodgerblue;
}

@keyframes for_article{
    from {opacity: 0;}
    to {opacity: 1;}
}

#post_list {
    width:50%;
    min-width: 300px;    
    margin: 0 auto;
    background-color: rgba(255,255,255,0.9);
}

.article {
    animation-name: for_article;
    animation-duration: 5s;
}

h2 {
    border-bottom: groove dodgerblue;
    font-weight: bold;    
}

h6 {
    text-align: right;
}

.comment{
    border-left: groove dodgerblue;
}

h1{
    text-align: center;
    background-color: rgba(255,255,255,0.8);
}

.thumb_ups{
    text-align: left;
    display: inline;
    color: dodgerblue;
}