html{
    font-size: 16px;
}

body {
    font-family: 'Raleway', sans-serif;
    background-image: url("images/bg3.jpg");
    background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}

#nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#nav li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: dodgerblue;
}

#profile {
    width: 50%;
    min-width: 400px;
    margin: auto;
    text-align: center;
    background-color: rgba(255,255,255,0.8);
}